<!-- Next Steps -->
<h1>{{ 'Auth0 Angular Playground' | uppercase }}</h1>
<p class="status-indicator">
  SDK initialized = {{ (isLoading$ | async) === false }}
</p>

<div class="actions" *ngIf="(isLoading$ | async) === false">
  <h2>Authentication</h2>
  <div class="login-wrapper" *ngIf="(isAuthenticated$ | async) === false">
    <form [formGroup]="loginOptionsForm">
      <label>
        Use Redirect
        <input
          type="radio"
          [value]="false"
          formControlName="usePopup"
          data-cy="login-redirect"
        />
      </label>

      <label>
        Use Popup
        <input
          type="radio"
          [value]="true"
          formControlName="usePopup"
          data-cy="login-popup"
        />
      </label>

      <br />
      <br />

      <label>
        App State:
        <input
          type="text"
          formControlName="appState"
          data-cy="app-state-input"
        />
      </label>

      <br />
      <br />

      <button id="login" (click)="launchLogin()">Log in</button>
      <button id="loginWithInvitation" (click)="loginHandleInvitationUrl()">
        Log in with Invitation
      </button>
    </form>
  </div>

  <div class="logout-wrapper" *ngIf="isAuthenticated$ | async">
    <form [formGroup]="logoutOptionsForm">
      <label>
        Local Only
        <input
          type="checkbox"
          formControlName="localOnly"
          data-cy="logout-localOnly"
        />
      </label>

      <label>
        Federated
        <input
          type="checkbox"
          formControlName="federated"
          data-cy="logout-federated"
        />
      </label>
      <button id="logout" (click)="launchLogout()">Log out</button>
    </form>
  </div>

  <div class="error-wrapper" *ngIf="error$ | async as err">
    <h2>Last error</h2>
    {{ err.message }}
  </div>

  <div class="api-wrapper">
    <h2>Call API</h2>
    <button (click)="callExternalAPI()">Call external API</button>
  </div>

  <div class="artifacts-wrapper" *ngIf="isAuthenticated$ | async">
    <h2>Artifacts</h2>
    <ul class="artifacts-list">
      <li class="artifact">
        <p>User Profile: Subset of the ID token claims</p>
        <textarea data-cy="userProfile" cols="50" rows="15" disabled="true">{{
          user$ | async | json
        }}</textarea>
      </li>
      <li class="artifact" *ngIf="claims$ | async as claims">
        <p>ID token claims:</p>
        <textarea
          name=""
          id=""
          cols="50"
          rows="15"
          data-cy="idTokenClaims"
          disabled="true"
        >
          {{ claims | json }}
        </textarea>
      </li>
      <li class="artifact">
        <p>
          Access Token: Select a mode and click the button to retrieve the
          token.
        </p>
        <form [formGroup]="accessTokenOptionsForm">
          <label>
            Ignore cache
            <input
              type="checkbox"
              [value]="false"
              formControlName="ignoreCache"
              data-cy="accessToken-ignoreCache"
            />
          </label>

          <label>
            Silently
            <input
              type="radio"
              [value]="false"
              formControlName="usePopup"
              data-cy="accessToken-silently"
            />
          </label>

          <label>
            With Popup
            <input
              type="radio"
              [value]="true"
              formControlName="usePopup"
              data-cy="accessToken-popup"
            />
          </label>
          <button id="accessToken" (click)="updateAccessToken()">
            Refresh
          </button>
        </form>
        <br />
        <textarea data-cy="accessToken" cols="50" rows="2" disabled="true">{{
          accessToken
        }}</textarea>

        <br />
        <br />

        <textarea
          data-cy="app-state-result"
          cols="50"
          rows="2"
          disabled="true"
          >{{ appState }}</textarea
        >
      </li>
    </ul>
  </div>

  <div class="guard-wrapper">
    <h2>Test Auth Guard</h2>
    <a routerLink="/">Unprotected Route</a> |
    <a routerLink="/protected">Protected Route</a> |
    <a routerLink="/lazy">Lazy-loaded route</a> |
    <a routerLink="/child">Child route</a> |
    <a routerLink="/child/nested">Nested child route</a>
    <router-outlet></router-outlet>
  </div>
</div>
